# Created by https://www.gitignore.io/api/vim,rails

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Rails ###
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.powenv
.env

## Environment normalisation:
/.bundle
/vendor/bundle
.rvmrc

## Bower
/vendor/assets/bower_components
*.bowerrc
bower.json

## CelAutomaton File's
/public/cell_automatons/*
!/public/cell_automatons/.keep

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
