table {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: solid 1px;
  width: 10px;
  height: 10px;
}

p.boxtext {
  margin: 0;
}

.tooltip-inner {
  background-color: #73AD21; 
  font-size: 14px;
  text-align: left;
  max-width: 350px;
}